body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.btn {
    text-decoration: none;
    padding: 24px 72px;
    /* background-color: #7a4009; */
    background-color: #3DD6D0;
    color: #fff;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 22px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    /* background-image: radial-gradient(circle closest-side, #d1841f, transparent); */
    background-image: radial-gradient(circle closest-side, #15B097, transparent);
    width: 0;
    height: 0;
    transition: width 0.3s ease, height 0.3s ease;
    z-index: -1;
}

.btn:hover::before {
    width: 250px;
    height: 250px;
}

/* Developed By Mohammad Kiaei */
